<nav>
    <div class="logo">
        <span>Traveline </span>
    </div>
    <ul class="nav-links">
        <li><a [routerLink]="['/perfil']" routerLinkActive="active">Perfil</a></li>
        <li><a [routerLink]="['/dashboard']" routerLinkActive="active">Visão Geral</a></li>
        <li><a [routerLink]="['/painel']" routerLinkActive="active">Painel de Controle</a></li>
        <li><a [routerLink]="['/recomendacoes']" routerLinkActive="active">Recomendações</a></li>
        <li><a [routerLink]="['/relatorios']" routerLinkActive="active">Relatórios</a></li>
        <li><a [routerLink]="['/upl']" routerLinkActive="active">Upload de arquivos</a></li>
    </ul>
</nav>
