main {
    width: 100%;
    min-height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #f8f7fc;
}

.conteiner-recomendacoes{
    padding: 30px;
    background-color: rgba(226, 225, 224, 0.418);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#tabela-coteiner{
    max-height: 75vh;
    overflow-y: auto; 
    
}

table { width: 100%; border-collapse: collapse; font-size: 0.85rem;}
th, td { padding: 5px; text-align: left; }
th { color: #666; font-weight: normal; }

.subiu { color: #1c9b5f; font-weight: 500; }
.desceu { color: #e54b4b; font-weight: 500; }

td span {
    display: inline-block; padding: 4px 10px; border-radius: 6px; font-weight: bold; font-size: 0.75rem; text-align: center;
}
.alta  { background: #e1f5fe; color: #0288d1; }
.media { background: #fff3e0; color: #f57c00; }
.baixa { background: #ffebee; color: #d32f2f; }