<div class="input-group">
    <label>Email de trabalho</label>
    <input type="email" [(ngModel)]="email" name="email" placeholder="nome@suaagencia.com.br" required>
</div>
<div class="input-group">
    <label>Senha</label>
    <input type="password" [(ngModel)]="senha" name="password" placeholder="••••••••" required>
</div>

<div class="form-actions">
    <label class="checkbox-label">
        <input type="checkbox" name="remember"> Lembrar dispositivo
    </label>
    <a href="#" class="forgot-link">Esqueci minha senha</a>
</div>

<button type="button" (click)="login()" class="btn-primary">Entrar no Dashboard</button>