main {
    width: 100%;
    min-height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #f8f7fc;
}

.kpis {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 0.75rem;     
    width: 100%;
}

.charts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 0.60rem;     
    width: 100%;
}

.chart {
    min-height: 275px;
    min-width: 400px;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #eee;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
}

.chart h2 {
    margin: 0 0 0.5rem;
    font-size: 1rem;
    color: var(--text-dark);
}

.destinations p {
    padding: 0.8rem 0;
    margin: 0;
    border-bottom: 1px solid #eee;
    color: var(--text-dark);
}

.graphic-table{
    min-height: 30px;
    min-width: 810px;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #eee;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
}


.titulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo h1 {
    margin: 0;
    font-size: 1.8rem;
    color: var(--text-dark);
}

.titulo button{
    background-color: #eee;
    border-radius: 10px;
    padding: 3px 10px 3px 10px;
    color: #5b2a86;  
    font-size: medium;  
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
}

#mini-button{
    background-color: #eee;
    border-radius: 10px;
    padding: 3px;
    color: #5b2a86;  
    font-size: medium; 
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.titulo button:hover{
    transform: translate(-2px);
    background-color: #c6c3c3;
    

}

h2 span{
    color: #9a9999;
}

table { width: 100%; border-collapse: collapse; font-size: 0.85rem; }
th, td { padding: 5px; text-align: left; }
th { color: #666; font-weight: normal; }

.subiu { color: #1c9b5f; font-weight: 500; }
.desceu { color: #e54b4b; font-weight: 500; }

td span {
    display: inline-block; padding: 4px 10px; border-radius: 6px; font-weight: bold; font-size: 0.75rem; text-align: center; min-width: 50px;
}
.alta  { background: #e1f5fe; color: #0288d1; }
.media { background: #fff3e0; color: #f57c00; }
.baixa { background: #ffebee; color: #d32f2f; }