<div class="input-group">
    <label>Nome da agência</label>
    <input type="text" name="companyName" placeholder="Traveline Agência" required>
</div>
<div class="input-group">
    <label>Email de trabalho</label>
    <input type="email" name="email" placeholder="nome@suaagencia.com.br" required>
</div>
<div class="input-group">
    <label>Senha</label>
    <input type="password" name="password" placeholder="Crie uma senha forte" required>
</div>
<div class="input-group">
    <label>Confirmar senha</label>
    <input type="password" name="confirmPassword" placeholder="Repita sua senha" required>
</div>

<button type="button" class="btn-primary">Criar Conta</button>